<template>
<div class="modal">
  <div class="modal__wrapper">
    <div class="modal__create_component">
      <div class="modal__create_component__head">
        <div class="modal__tg_component__head__type">Выберите компонент:</div>
        <div class="modal__tg_component__head__close"
             @click.prevent='close'></div>
      </div>
      <div class="modal__create_component__body">
        <div class="modal__create_component__choose">
          <div class="modal__create_component__choose__item"
               v-bind:class="{choosed: choosed == 'Message'}"
               @click='choose("Message")'>Сообщение</div>
          <div class="modal__create_component__choose__item"
               v-bind:class='{choosed: choosed == "Keyboard"}'
               @click='choose("Keyboard")'>Клавиатура</div>
          <div class="modal__create_component__choose__item"
               v-bind:class='{choosed: choosed == "UserInput"}'
               @click='choose("UserInput")'>Ответ пользователя</div>
          <div class="modal__create_component__choose__item"
               v-bind:class='{choosed: choosed == "GoTo"}'
               @click='choose("GoTo")'>Перенаправление</div>
        </div>
        <div class="modal__create_component__body__description">
          {{componentDescription()}}
        </div>
      </div>
      <button class="modal__tg_component__save_button"
              @click.prevent='saveComponent'>
        Save
      </button>
    </div>
  </div>
</div>

</template>

<script>
export default {
  props: {
    screenData: ''
  },
  data () {
    return {
      description: '',
      choosed: 'Message',
      messageDescription:
      `Отправляет сообщение пользователю.

      Опции: stop - если выбрано, то отправка сообщений будет приостановлена, пока пользователь что-либо не напишет.`,

      keyboardDescription:
      `Отправляет клавиатуру пользователю.
      Клавиатура состоит из линий и кнопок.
      В каждой линии может находиться несколько кнопок, но общая ширина линии ограничена шириной экрана пользователя.

      ВАЖНО: если ширина линии превысит ширину экрана пользователя, текст на кнопках НЕ ОТОБРАЗИТСЯ!
      Старайтесь избегать слишком длинных кнопок.`,

      userInputDescription:
      `Сохраняет предыдущее сообщение пользователя, ответ запишется в переменную, указанную в компоненте.
      Доступ к переменной можно получить указав в тексте нужного компонента ИМЯ переменной, выделив его двойными фигурными скобками.
      Удобно использовать вместе с клавиатурой, которая предлагает выбрать пользователю нужные вам варианты.

      Пример:
      В компоненте "Ответ пользователя" указана переменная answer1, тогда мы можем в компоненте "Сообщение" написать {{answer1}}. Этот текст будет заменен на то, что в данный момент будет находиться в компоненте "Ответ пользователя".`,

      goToDescription:
      `Перенаправляет пользователя на указанный экран.
      `
    }
  },
  methods: {
    close () {
      this.$emit('closeCreateComponent')
    },
    componentDescription () {
      switch (this.choosed) {
        case 'Message':
          return this.messageDescription
        case 'Keyboard':
          return this.keyboardDescription
        case 'UserInput':
          return this.userInputDescription
        case 'GoTo':
          return this.goToDescription
      }
    },
    choose (name) {
      this.choosed = name
    },
    saveComponent () {
      let type = 'Components::' + this.choosed
      let componentData = Object.assign({component_type: type}, this.screenData)
      this.$store.dispatch('letCreateComponent', componentData)
      this.close()
    }
  }
}
</script>
