<!-- 
component_type:"Components::Message"
created_at:"2017-12-07T17:04:34.059Z"
id:1
name:"Hello message"
priority:1
responce:true
stop:false
text:"Привет! Я чат-бот созданный при момощи BotFactory!"
updated_at:"2017-12-09T08:50:30.645Z"
 -->
<template>
  <div class="modal__tg_component__wrapper">
    <textarea class='modal__tg_component__text' v-autosize='component.text' v-model='component.text'></textarea>
    <div class='modal__tg_component__stop'>
      <label for="stop">Ждать ответ пользователя?</label>
      <input name='stop' type="checkbox" v-model="component.stop" class='toggler'>
    </div>
    <button @click.prevent='commitData(component)' class='modal__tg_component__save_button'>Save</button>
  </div>
</template>

<script>
  export default {
    props: {
      component: Object
    },
    methods: {
      commitData (component) {
        this.$store.dispatch('letUpdateComponent', component)
        this.$emit('close')
      }
    }
  }
</script>


