<template>
<div class="modal__tg_component__body">
  <textarea class='modal__tg_component__text'
            v-autosize='keyboard.text'
            v-model='keyboard.text'></textarea>
  <div class="modal__tg_component__body__keyboard">
    <div v-for='(line, index) in keyboard.data'
          class='modal__tg_component__body__keyboard__line_wrapper'>
      <div class="modal__tg_component__body__keyboard__delete_line"
            @click='deleteLine(index)'></div>
      <edit-keyboard-line :propLine='line'
                          :index='index'
                          @input='updateData'
                          :key='index'></edit-keyboard-line>
      <div class="modal__tg_component__body__keyboard__add_button"
            @click='addButton(index)'></div>
    </div>
    <div class="modal__tg_component__body__keyboard__add_line"
          @click='addLine'></div>
  </div>
  <div class='modal__tg_component__stop'>
    <label for="stop">Ждать ответ пользователя?</label>
    <input class='toggler disabled'
           disabled
           type="checkbox"
           name='stop'
           v-model="keyboard.stop">
  </div>
  <button class='modal__tg_component__save_button'
          @click.prevent='commitData(keyboard)'>Save</button>
</div>

</template>

<script>
import EditKeyboardLine from './EditTgKeyboardLine'
export default {
  props: {
    component: Object
  },
  data () {
    return {
      keyboard: this.component
    }
  },
  components: {
    EditKeyboardLine
  },
  methods: {
    commitData (component) {
      this.$store.dispatch('letUpdateComponent', component)
      this.$emit('close')
    },
    updateData (e, index) {
      this.keyboard.data[index] = e
    },
    addButton (i) {
      let newButtonNum = Object.keys(this.keyboard.data[i]).length + 1
      if (newButtonNum > 4) {
        alert('В строке не может быть более четырёх кнопок.')
      } else {
        this.$set(this.keyboard.data[i], newButtonNum, 'Текст')
      }
    },
    deleteLine (key) {
      this.$delete(this.keyboard.data, key)
      this.reorderData()
    },
    reorderData () {
      let newIndex = 1
      for (let i in this.keyboard.data) {
        let key = String(newIndex)
        if (i !== key) {
          let buttons = this.keyboard.data[i]
          this.keyboard.data[newIndex] = buttons
          this.$delete(this.keyboard.data, i)
        }
        newIndex = newIndex + 1
      }
    },
    addLine () {
      let newLineIndex = Object.keys(this.keyboard.data).length + 1
      this.$set(this.keyboard.data, newLineIndex, {'1': 'Текст'})
    }
  }
}
</script>
