<template>
<div class="modal__tg_component__wrapper">
  <input class='modal__tg_component__text'
         v-autosize='component.variable_name'
         v-model='component.variable_name'></input>
  <button @click.prevent='commitData(component)'
          class='modal__tg_component__save_button'>Сохранить</button>
</div>

</template>

<script>
export default {
  props: {
    component: Object
  },
  methods: {
    commitData (component) {
      this.$store.dispatch('letUpdateComponent', component)
      this.$emit('close')
    }
  }
}
</script>
