<template>
  <transition name='edit-component'>
    <div class="modal">
      <div class="modal__wrapper">
        <div class="modal__tg_component">
          <div class="modal__tg_component__head">
            <div class="modal__tg_component__head__type">Компонент: {{ componentType }}</div>
            <div class="modal__tg_component__head__close" @click.prevent='close'></div>
          </div>
          <component :is='componentName()' :component='clonedComponent' @close='close'></component>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import EditTgMessage from './EditTgMessage'
  import EditTgKeyboard from './EditTgKeyboard'
  import EditTgUserInput from './EditTgUserInput'
  import EditTgGoTo from './EditTgGoTo'
  export default {
    props: {
      component: Object,
      showModal: false
    },
    computed: {
      shortName () {
        return this.component.component_type.split(/::/)[1]
      },
      componentType () {
        switch (this.shortName) {
          case 'Message':
            return 'Сообщение'
          case 'Keyboard':
            return 'Клавиатура'
          case 'UserInput':
            return 'Записать ответ'
          case 'GoTo':
            return 'Перенаправление'
        }
      },
      clonedComponent () {
        return JSON.parse(JSON.stringify(this.component))
      }
    },
    components: {
      EditTgMessage,
      EditTgKeyboard,
      EditTgUserInput,
      EditTgGoTo
    },
    methods: {
      close () {
        this.$emit('closeModal')
      },
      componentName () {
        var name = this.component.component_type.split(/::/)[1]
        return 'EditTg' + name
      }
    }
  }
</script>
