<template>
<div class="sign__wrapper">
  <div class="sign">
    <p class="sign__title">
      Авторизация
    </p>
    <form class='sign__form'>
      <div class="sign__error"
           v-bind:class="{ active: errorResponse}">
        Неверный email или пароль
      </div>
      <input v-model="email"
             type="text"
             @input='errorResponse = false'
             placeholder="Ваш email:"
             class='sign__input' />
      <input v-model="password"
             type="password"
             @input='errorResponse = false'
             placeholder="Ваш пароль:"
             class='sign__input' />
      <button class='sign__confirm'
              @click.prevent='signIn'>
        Войти
      </button>
    </form>
    <div class="sign__registration">
      <p class="sign__registartion-text">Я новый пользователь:</p>
      <a href="javascript:void(0);" title="Регистрация" class="sign__link"
        @click='$router.push("/sign_up")'>
        Регистрация
      </a>
    </div>
  </div>
</div>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      password: '',
      errorResponse: false
    }
  },
  methods: {
    signIn (email, password) {
      this.axios.post('/auth/sign_in', {'email': this.email, 'password': this.password})
      .then(response => { this.$router.push('/') },
      errorResponse => {
        throw new Error('Wrong password')
      }).catch(error => {
        console.log(error)
        this.errorResponse = true
      })
    }
  }

}
</script>
