<template>
<div class="sign__wrapper">
  <div class="sign">
    <p class="sign__title">
      Регистрация
    </p>
    <form class='sign__form'>
      <input v-model="email"
             type="text"
             placeholder="Ваш email:"
             class='sign__input' />
      <input v-model="password"
             type="password"
             placeholder="Пароль:"
             class='sign__input' />
      <input v-model="password_confirmation"
             type="password"
             placeholder="Подтверждение пароля:"
             class='sign__input' />
      <button class='sign__confirm'
              :disabled='isValid === false'
              @click.prevent='signUp'>
        Зарегистрироваться
      </button>
    </form>
  </div>
</div>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      password: '',
      password_confirmation: ''
    }
  },
  computed: {
    isValid () {
      return this.password === this.password_confirmation && this.password.length > 7
    }
  },
  methods: {
    signUp (email, password) {
      this.axios.post('/auth', {
        'email': this.email,
        'password': this.password,
        'password_confirmation': this.password_confirmation
      }).then(response => {
        alert('Вы успешно зарегистрированы!')
        this.$router.push('/')
      }, errorResponse => {
        alert('Что-то пошло не так')
        throw new Error('Wrong password')
      }).catch(error => console.log(error))
    }
  }
}
</script>
