<template>
<div class="tg_component"
     :class='{ no_answer: noAnswer }'>
  <div class="tg_component__head">
    <div class='tg_component__head__type'> {{componentType}} </div>
    <div class="tg_component__head__next" v-if='component.stop == false'></div>
    <div class="tg_component__head__stop" v-if='component.stop == true'></div>
    <div class='tg_component__head__edit'
         @click='showModal = true'></div>
  </div>
  <component :is='componentName'
             :component='component'></component>
  <edit-component :component='component'
                  :showModal='showModal'
                  v-if='showModal'
                  @closeModal='showModal = false'></edit-component>
</div>
</template>

<script>
import Keyboard from './Keyboard'
import Message from './Message'
import UserInput from './UserInput'
import GoTo from './GoTo'
export default {
  props: {
    propsComponent: Object
  },
  data () {
    return {
      showModal: false
    }
  },
  components: {
    Keyboard,
    Message,
    UserInput,
    GoTo
  },
  computed: {
    component () {
      return this.propsComponent
    },
    noAnswer () {
      return ['UserInput', 'GoTo'].indexOf(this.componentName) > -1
    },
    componentType () {
      switch (this.componentName) {
        case 'Message':
          return 'Сообщение'
        case 'Keyboard':
          return 'Клавиатура'
        case 'UserInput':
          return 'Записать ответ'
        case 'GoTo':
          return 'Перенаправление'
      }
    },
    componentName () {
      return this.component.component_type.split(/::/)[1]
    }
  }
}
</script>
