<!--
component_type:"Components::GoTo"
id:1
priority:6
stop:false
next_screen:1
 -->
<template>
  <div class="tg_component__body">
    <div class="tg_component__body__goto">
      <span class="tg_component__body__goto__text">Следующий экран:</span>
      <span class="tg_component__body__goto__variable">{{nexScreen}}</span>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      component: Object
    },
    computed: {
      nexScreen () {
        return ' #' + this.component.next_screen
      }
    }
  }
</script>

