<template>
<div class="tg_component__body">
  <div class="tg_component__body__text">
    {{component.text}}
  </div>
  <div class="tg_component__body__keyboard">
    <div v-for='line in component.data'>
      <keyboard-line :line='line'></keyboard-line>
    </div>
  </div>
</div>

</template>

<script>
import KbLine from './KyeboardLine'
export default {
  components: {
    'keyboard-line': KbLine
  },
  props: {
    component: Object
  },
  data () {
    return {
      component_type: 'Клавиатура',
      show: false
    }
  },
  methods: {
  }
}
</script>
