<!-- 
component_type:"Components::Message"
created_at:"2017-12-07T17:04:34.059Z"
id:1
name:"Hello message"
priority:1
responce:true
stop:false
text:"Привет! Я чат-бот созданный при момощи BotFactory!"
updated_at:"2017-12-09T08:50:30.645Z"
 -->
<template>
  <div class="tg_component__body">
    <div class="tg_component__body__text">
      {{component.text}}
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      component: Object
    }
  }
</script>
