<!--
component_type:"Components::UserInput"
created_at:"2017-12-07T17:04:34.152Z"
id:1
priority:6
silent:true
stop:false
updated_at:"2017-12-07T17:04:34.152Z"
variable_name:"keyboard1"
 -->
<template>
  <div class="tg_component__body">
    <div class="tg_component__body__user_input">
      <span class="tg_component__body__user_input__text">Имя переменной:</span>
      <span class="tg_component__body__user_input__variable">{{variable_name}}</span>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      component: Object
    },
    data () {
      return {
        component_type: 'Ответ пользователя',
        showModal: false
      }
    },
    computed: {
      variable_name () {
        return '{{' + this.component.variable_name + '}}'
      }
    }
  }
</script>
