input.toggler{
    visibility: hidden;
    position: relative;
    height: 35px;
    width: 50px;
    margin: 0;
    cursor: pointer;
}

input.toggler:before,
input.toggler:after {
    visibility: visible;
}
input.toggler:before {
    background-color: #d0d0d0;
    box-shadow: inset 0 0 3px gray;
    width: 50px;
    border-radius: 15px;
    height: 20px;
    content: ' ';
    display: inline-block;
    transition: background 0.4s;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}
input.toggler:after {
  width: 25px;
  height: 25px;
  content: ' ';
  display: block;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), inset 0 0 2px gray;
  transition: margin 0.4s, width 0.3s;
  
}
input.toggler:checked:before {
  background-color: #8ce196;
}
input.toggler:checked:after {
  margin-left: 26px;
  color: #65966a;
}
input.toggler:disabled:before {
  background-color: gray;
}
