$darkblue: #050f2c;
$light-dark-blue: #003666;
$blue: #3369e7;
$light-blue: #00aeff;
$purple: #8e43e7;
$turquoise: #1cc7d0;
$magenta: #b84592;
$pink: #ff4f81;
$red: #ff6c5f;
$orange: #ffc168;
$green: #2dde98;

* {
  outline: none;
}

@font-face {
  font-family: 'AnonimousPro';
  src: url('assets/fonts/anonymous_pro.woff2') format('woff')
}


#app {
  font-family: 'AnonimousPro', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $darkblue;
}

.nav_bar {
  // width: 10px;
  display: flex;
  flex-flow: row nowrap;
  background: $light-dark-blue;
  &__sign_out,
  &__root {
    color: white;
    line-height: 10px;
    padding: 10px;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      background: $pink;
    }
  }
  &__root {
    // border-radius: 0 20px 20px 0;
    text-decoration: none;
  }
}


.underconstruction {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  p {
    background: $orange;
    width: 100%;
    font-weight: 900;
    padding: 5px;
    margin: 0;
  }
}
