.bot_view {
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  justify-content: center;

  &__constructor {
    position: fixed;
    z-index: 9997;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: flex;
    flex-flow: row nowrap;

    &__save,
    &__add_screen {
      background: url(./assets/icons/disquette.svg) no-repeat;
      border: none;
      height: 64px;
      margin: 5px;
      width: 64px;
      cursor: pointer;
      &:disabled {
        background: url(./assets/icons/pause.svg) no-repeat;
      }
    }
    &__add_screen {
      background: url(./assets/icons/plus.svg) no-repeat;
    }
  }
}
