.bot_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 0;
  max-width: 1200px;
  &__create_bot {
    background: url(./assets/icons/plus.svg) no-repeat;
    width: 40px;
    height: 40px;
    margin: 10px 0 0 10px;
    border-radius: 40px;
    &:disabled {
      background: url(./assets/icons/pause.svg) no-repeat;
    }
  }
  &__bot {
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #EEEEEE;
    box-shadow: 0 0 8px 2px #ccc;
    padding: 10px;
    justify-content: space-between;
    margin: 10px 5px;
    flex-shrink: 1;
  }
  &__column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 10px;
    min-width: 120px;
  }
  &__name {
    flex-grow: 1;

  }
  &__avatar {
    width: 120px;
    height: 120px;
    background: url(./assets/img/default-bot.png) no-repeat;
    background-size: cover;
  }
  &__edit, &__setup, &__destroy {
    line-height: 30px;
    cursor: pointer;
    height: 30px;
    border: none;
      &:hover {
        background: $purple;
      }
  }
  &__edit {
    background: $green;
  }
  &__setup {
    background: $orange;
  }
  &__destroy {
    background: $red;
  }
  &__modal_edit {
    align-items: center;
    background-color: $blue;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0px auto;
    width: 500px;
    &__head {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      &__text {
        flex-grow: 1;
        text-align: left;
        padding: 5px;
      }
      &__close {
        background: url(./assets/icons/error.svg) no-repeat;
        width: 16px;
        height: 16px;
        margin: 5px;
        cursor: pointer;
      }
    }
    &__body {
      background: $light-blue;
      padding: 30px 0;
      width: 100%;
      border-radius: 0 0 8px 8px;
      display: flex;
      flex-flow: column nowrap;
      align-items: space-between;
      justify-content: flex-start;

      &__token {
        &__line {
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          justify-content:flex-end;
          align-items: center;
        }
        label {
          padding: 0 30px;
        }
      }
      &__name, &__token {
        input{
          width: 95%;
          text-align: center;
          margin: 10px 0;
        }
        label{
        }
        span{
          margin: 0 10px 0 0 ;
          background: $light-dark-blue;
          padding: 4px;
          color: white;
          border-radius: 4px;
          &:hover {
            color: $pink;
            cursor: pointer;
          }
        }
      }
      &__save{
        width: 100px;
        align-self: center;
        cursor: pointer;
      }
    }
  }
}
