.modal {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
  cursor: default;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__tg_component {
    align-items: center;
    background-color: #66BAE3;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0px auto;
    padding: 5px 2px;
    width: 400px;
    &__head {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;

      &__type {
        flex-grow: 1;
        text-align: left;
        padding: 5px;
      }
      &__close {
        background: url(./assets/icons/error.svg) no-repeat;
        width: 16px;
        height: 16px;
        margin: 5px;
        cursor: pointer;
      }
    }
    &__text {
      width: 100%;
      background: rgba(255, 255, 255, 0.2);
      border: none;
      border-radius: 4px 4px 4px 4px;
      padding: 2px;
      transition: all 0.3s ease 0s;
    }
    &__stop {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__body {
      &__keyboard {
        border: solid 1px gray;
        border-radius: 4px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        &__line_wrapper {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
        }
        &__add_button,
        &__add_line {
          background: url(./assets/icons/plus.svg) no-repeat;
          width: 16px;
          height: 16px;
          margin: 2px;
          cursor: pointer;
        }
        &__delete_line {
          cursor: pointer;
          background: url(./assets/icons/error.svg) no-repeat;
          width: 16px;
          height: 16px;
          margin: 2px;
        }
      }
    }
    &__button_line {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      width: 320px;
      border: solid 1px gray;
      border-radius: 4px;
      margin: 2px;
      &__inline_button {
        border-radius: 4px;
        border: none;
        text-align: center;
        padding: 3px;
        margin: 2px;
        flex: 1 1 150px
      }
    }
    &__stop {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__save_button {
      align-self: center;
    }
  } //Create Component
  &__create_component {
    align-items: center;
    background-color: #488ABF;
    display: flex;
    flex-flow: column nowrap;
    height: 400px;
    justify-content: space-between;
    width: 550px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    margin: 0 auto;
    padding: 5px 0;
    &__head {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      padding: 2px 0 5px 0;
      justify-content: space-between;
      align-items: center;
    }
    &__body {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: flex-start;
      width: 100%;

      &__description {
        height: 350px;
        width: auto;
        background: #66BAE3;
        padding: 10px;
        white-space: pre-line; 
        font-family: inherit;
        text-align: justify;
      }
    }
    &__choose {
      display: flex;
      flex-flow: column nowrap;
      &__item {
        padding: 10px;
        &:hover {
          background: #66BAE3;
        }
        &.choosed {
          background: #66BAE3;
        }
      }
    }
  }
  &__hint {
    background: $light-blue;
    width: 410px;
    height: 600px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    &__image {
      background: url('./assets/img/bot-instruction.png') no-repeat;
      width: 410px;
      height: 551px;
    }
    &__message {
      background: #fff;
      border-radius: 4px 4px 4px 0;
      margin: 5px 15px;
      &__text{
      }
      &__triangle{
        &:after{
          border-color: #66bae3 transparent transparent;
          border-width: 10px 10px 0 0;
        }
      }
    }
    &__close {
      background: url('./assets/icons/error.svg') no-repeat;
      height: 16px;
      width: 16px;
      align-self: flex-end;
      margin: 3px;
      cursor: pointer;
    }
  }
}
