.screens {
  display: flex;
  flex-flow: row nowrap;

  &__screen {
    display: flex;
    flex-flow: column nowrap;
    margin: 3px;
    border: 1px solid #EEEEEE;
    box-shadow: 0 0 8px 2px #ccc;
    height: 10%;
    width: 320px;
    align-items: center;

    &__head {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      width: 100%;

      &__name {
        flex-grow: 1;
        text-align: left;
        padding: 0 15px;
      }
      &__delete_button {
        background: url(./assets/icons/trash_black.png) no-repeat;
        padding: 0;
        margin: 5px;
        background-position: top right;
        background-size: 100% 100%;
        height: 24px;
        width: 24px;
        border: none;
        cursor: pointer;
        &:disabled {
          background: url(./assets/icons/pause.svg) no-repeat;
        }
        &:hover {
          transform: scale(1, 1);
          background: url(./assets/icons/trash_red.png) no-repeat;
        }
      }
    }

    &__draggable {
      min-height: 30px;
      background: #E2E2E2FF;
      border-radius: 8px;
      padding: 5px 0 10px 0;
      width: 316px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
    }

    &__add_item {
      background: url(./assets/icons/plus.svg) no-repeat;
      width: 32px;
      height: 32px;
      margin: 2px;
      cursor: pointer;
    }
  }
}
