$xs-icon: 16px;
$s-icon: 24px;

.tg_component {
  align-items: center;
  background: #66bae3;
  border-radius: 4px;
  border: 1px solid #EEEEEE;
  box-shadow: 0 0 8px 2px #ccc;
  display: flex;
  flex-flow: column nowrap;
  font-size: 12px;
  justify-content: center;
  margin: 2px;
  // padding: 0 2px 5px 2px;
  width: 300px;
  cursor: move;
  &.no_answer{
    background: $green;
  }
  // Head;
  &__head {
    width: 100%;
    border-radius: 4px 4px 0 0;
    display: flex;
    flex-flow: row nowrap;
    padding: 2px 10px;
    background: rgba(0, 54, 102, 0.2);
    font-size: 12px;
    justify-content: center;
    align-items: center;
    &__type {
      flex-grow: 1;
      text-align: left;
      padding: 0 5px;
    }
    &__stop {
      width: $s-icon;
      height: $s-icon;
      background: url(./assets/icons/pause.png) no-repeat;
    }

    &__next {
      width: $s-icon;
      height: $s-icon;
      background: url(./assets/icons/play.png) no-repeat;
    }

    &__edit {
      background: url(./assets/icons/cogwheel.svg) no-repeat;
      width: $s-icon;
      height: $s-icon;
      margin: 0 0 2px 5px;
      cursor: pointer
    }
  } // Body;
  &__body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    &__text, &__user_input, &__goto {
      width: 290px;
      background: white;
      padding: 5px;
      border-radius: 4px;
    }
     // Keyboard
    &__keyboard {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      width: 290px;
      background: white;
      padding: 2px;
      margin: 2px;
      border-radius: 4px;
      &__line {
        width: 290px;
        flex-flow: row nowrap;
        display: flex;
        padding: 2px;
        margin: 0 2px;
        &__button {
          background: #e6e6e6;
          flex-grow: 1;
          border-radius: 4px;
          margin: 0 1px;
          padding: 2px 0;
        }
      }
    }
  }
  // UserInput
  &__user_input, &__goto {
    display: flex;
    justify-content: space-between;
    &__text {}
    &__variable {}
  }
}
