* {
  box-sizing: border-box;
}

.sign{
  display: flex;
  flex-flow: column nowrap;
  width: 380px;
  margin: 0 auto;
  border: 1px solid #EEEEEE;
  box-shadow: 0 0 8px 2px #ccc;

  &__wrapper {
    width: 100%;
    height: 100%;
    margin: 100px 0;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  &__title {
    padding: 15px ;
    text-align: center;
    font-weight: 100;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 8px;
  }

  &__error {
    font-size: 12px;
    color: #ff0000;
    line-height: 13px;
    text-align: left;
    opacity: 0;
    transition: opacity .3s;

    &.active {
      opacity: 1;
    }
    // width: 75%;
    // margin: 0 auto;
  }

  &__form {
    padding: 0 25px;
    margin: 0 0 15px;
  }

  // &__email {
  // }

  // &__password {
  //   padding: 16px;
  //   border-radius: 0 0 4px 4px;
  //   border: 1px solid #CFD0D1;
  //   border-top: none;
  //   background: transparent;
  //   display: block;
  //   margin: 0 auto;
  //   margin-bottom: 12px;
  //   width: 75%;
  // }

  // &__confirmation {
  //   border-radius: 0;
  //   margin: 0 auto;
  //   width: 75%;
  //   padding: 16px;
  //   border: 1px solid #CFD0D1;
  // }

  &__confirm {
    padding: 16px;
    border-radius: 50px;
    background: $turquoise;
    border: none;
    box-shadow: 0 8px 15px 0 rgba(18, 151, 147, .4);
    display: block;
    margin: 10px auto;
    width: 92%;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.05px;
    cursor: pointer;

    &[disabled] {
      opacity: 0.5;
    }
  }

  &__input {
    padding: 16px;
    // border-radius: 4px 4px 0 0;
    background: transparent;
    border: 1px solid #CFD0D1;
    border-bottom: 0;
    display: block;
    // margin: 0 25px;
    width: 100%;

    &:first-child {
      // border-bottom: 0;
      border-radius: 4px 4px 0 0;
    }

    &:last-of-type  {
      border-radius: 0 0 4px 4px;
      border-bottom: 1px solid #CFD0D1;
    }
  }

  &__registration {
    margin: 0 0 15px;
  }

  &__registartion-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 13px;
    margin: 0;
    padding: 2px 0 0;
  }

  &__link {
    // padding: 16px;
    // border-radius: 50px;
    // background: $green;
    // border: none;
    // box-shadow: 0 8px 15px 0 rgba(18, 151, 147, .4);
    // display: block;
    // margin: 0 auto 20px auto;
    // width: 80%;
    color: rgba(18, 151, 147, .4);//white;
    // text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 1.05px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
  }

  &__line {
    text-decoration: none;
    color: inherit;
    padding: 16px;
  }
}
