<template>
<div class="modal">
  <div class="modal__wrapper">
    <div class="bot_list__modal_edit">
      <div class="bot_list__modal_edit__head">
        <div class="bot_list__modal_edit__head__text">
          Настройки
        </div>
        <div class="bot_list__modal_edit__head__close"
             @click="$emit('close')">
        </div>
      </div>
      <div class="bot_list__modal_edit__body">
        <div class="bot_list__modal_edit__body__name">
          <label for="name"
                 class="bot_list__modal_edit__body__name">
            Имя бота. *Изменить можно в @BotFather
          </label>
          <input name='name'
                 type="text"
                 :disabled='true'
                 class="bot_list__modal_edit__body__name"
                 v-model='bot.name'>
        </div>
        <div class="bot_list__modal_edit__body__token">
          <div class='bot_list__modal_edit__body__token__line'>
          <label for="token"
                 class="bot_list__modal_edit__body__token">
            Токен.
          </label>
          <span class='bot_list__modal_edit__body__token'
                @click='hint = true'>
            Подскажите, где взять?
          </span>
          </div>
          <input name='token'
                 type="text"
                 class="bot_list__modal_edit__body__token"
                 v-model='bot.token'>
        </div>
        <button class="bot_list__modal_edit__body__save"
                @click.prevent='save'>
          Сохранить
        </button>
      </div>
    </div>
    <hint v-if='hint === true'
          @close='hint = false'>
    </hint>
  </div>
</div>

</template>

<script>
export default {
  props: {
    botProps: '',
    botIndex: ''
  },
  components: {
    'Hint': () => import('./Hint')
  },
  data () {
    return {
      bot: JSON.parse(JSON.stringify(this.botProps)),
      hint: false,
      tokenValid: false
    }
  },
  methods: {
    close () {
      this.$emit('close')
    },
    save () {
      let data = { index: this.botIndex, bot: this.bot }
      this.$store.dispatch('updateBot', data).then(response => {
        this.close()
      }).catch(error => {
        alert('Что-то пошло не так, проверьте правильность токена.')
        console.log(JSON.parse(JSON.stringify(error)))
      })
    }
  }

}
</script>
