<template>
<div class="modal">
  <div class="modal__wrapper">
    <div class="modal__hint">
      <div class='modal__hint__close'
           @click="$emit('close')">
      </div>
      <div class="modal__hint__message">
        <div class="modal__hint__message__triangle">
        </div>
        <div class='modal__hint__message__text'>
          Откройте в Telegram бота @BotFather, создайте нового бота и скопируйте токен в окно настроек.
        </div>
      </div>
      <div class="modal__hint__image"></div>
    </div>
  </div>
</div>
</template>
