<template>
<div class="bot_view">
  <ul class="screens">
    <li class="screens__screen"
        v-for='(screen, screenIndex) in bot.screens'
        :key='screen.id'>
      <div class="screens__screen__head">
        <div class="screens__screen__head__name">
          {{'#' + screen.priority + ': ' + screen.name}}
        </div>
        <button class="screens__screen__head__delete_button"
             @click='deleteScreen(screen, screenIndex)'
             v-bind:disabled='processing'></button>
      </div>
      <draggable class='screens__screen__draggable'
                 v-model='screen.screen_elements'
                 :options='options'
                 @end='afterDrag'>
        <template v-for='component in screen.screen_elements'>
          <dynamic-tg-component :propsComponent="component"></dynamic-tg-component>
        </template>
      </draggable>
      <div class="screens__screen__add_item"
           @click='createComponent(screen.id, screenIndex)'></div>
    </li>
  </ul>
  <div class="bot_view__constructor">
    <button v-if='changed'
            v-bind:disabled='processing'
            @click='saveScreensData()'
            class='bot_view__constructor__save'></button>
    <button v-bind:disabled='processing'
            @click='createScreen($route.params.id)'
            class='bot_view__constructor__add_screen'></button>
  </div>
  <create-component v-if='showCreateComponent'
                    @closeCreateComponent='showCreateComponent = false'
                    :screenData='newComponentScreenData'>
  </create-component>
</div>

</template>

<script>
import { mapActions } from 'vuex'
import DynamicTgComp from './bot/bot_components/tg/DynamicTgComp'
import CreateComponent from './bot/modals/CreateComponent'
export default {
  components: {
    'dynamic-tg-component': DynamicTgComp,
    CreateComponent
  },
  created () {
    this.letGetBotData(this.$route.params.id)
    this.$bus.$on('component-updated', (e) => {
      this.someComponentsUpdated()
      this.$forceUpdate()
    })
  },
  data () {
    return {
      options: {
        group: 1,
        filter: '.modal',
        preventOnFilter: false
      },
      showCreateComponent: false,
      newComponentScreenData: '',
      processing: false
    }
  },
  computed: {
    bot () {
      return this.$store.state.botData
    },
    changed () {
      return this.$store.state.changed
    }
  },
  methods: {
    ...mapActions([
      'isChanged',
      'letGetBotData',
      'letCreateScreen',
      'letSaveScreens',
      'someComponentsUpdated',
      'letDeleteScreen'
    ]),
    // TODO: need error handling
    createScreen () {
      this.processing = true
      this.letCreateScreen()
      .then(() => { this.processing = false })
    },
    afterDrag (event) {
      this.someComponentsUpdated()
    },
    saveScreensData () {
      this.processing = true
      this.letSaveScreens()
      .then(() => { this.processing = false })
    },
    confirmDelete (screen) {
      return new Promise((resolve, reject) => {
        let question = 'Вы уверены, что хотите удалить экран ' + screen.name + ' вместе со всеми элементами?'
        if (screen.screen_elements.length > 0) {
          if (confirm(question)) { resolve() } else { reject(new Error('not needed')) }
        } else { resolve() }
      })
    },
    deleteScreen (screen, screenIndex) {
      this.processing = true
      this.confirmDelete(screen).then(() => {
        let payload = {screenId: screen.id, screenIndex: screenIndex}
        this.letDeleteScreen(payload)
        .then(() => {
          this.processing = false
        })
      }).catch(() => {
        this.processing = false
      })
    },
    createComponent (screenId, screenIndex) {
      this.newComponentScreenData = {
        screenIndex: screenIndex,
        screen_id: screenId,
        bot_id: this.bot.bot.id
      }
      this.showCreateComponent = true
    }
  }
}
</script>
