<template>
<div class="rootview">
  <button class="bot_list__create_bot"
          @click.prevent='addBot'
          :disabled='processing'>
  </button>
  <ul class="bot_list">
    <template v-for='(bot, index) in bots'>
      <bot :propsBot='bot'
           :botIndex='index'
           @delete='deleteItem(bot, index)'>
      </bot>
    </template>
  </ul>
</div>

</template>

<script>
import { mapActions } from 'vuex'
import Bot from './bot/bot_components/tg/root/Bot.vue'

export default {
  data () {
    return {
      processing: false
    }
  },
  components: {
    Bot
  },
  created () {
    this.getAllBots().catch(e => console.log(e))
  },
  computed: {
    bots () { return this.$store.state.botList }
  },
  methods: {
    ...mapActions([
      'getAllBots',
      'createBot',
      'deleteBot'
    ]),
    addBot () {
      this.processing = true
      this.createBot().then(() => { this.processing = false })
      .catch(e => console.log(e))
    },
    deleteItem (bot, index) {
      let data = {bot: bot, index: index}
      if (confirm('Вы уверены?')) {
        this.deleteBot(data)
      }
    }
  }
}
</script>
