<template>
<li class="bot_list__bot">
  <div class="bot_list__column">
    <div class="bot_list__avatar">
    </div>
  </div>
  <div class="bot_list__column">
    <div class="bot_list__name">
      {{bot.name}}
    </div>
    <button class="bot_list__edit"
            @click.prevent='editBot'>
      Редактировать
    </button>
    <button class="bot_list__setup"
            @click.prevent='showModal = true'>
      Настройки
    </button>
    <div class="bot_list__destroy"
         @click.prevent="$emit('delete')">
      Удалить
    </div>
  </div>
  <modal-edit-bot :botProps='bot'
                  :botIndex='botIndex'
                  :ref='bot.id'
                  v-if='showModal'
                  @close='showModal = false'>
  </modal-edit-bot>
</li>
</template>

<script>
import ModalEditBot from '@/components/bot/modals/root/EditBotModal.vue'
export default {
  props: {
    propsBot: '',
    botIndex: ''
  },
  components: {
    ModalEditBot
  },
  data () {
    return {
      showModal: false
    }
  },
  computed: {
    bot () {
      return JSON.parse(JSON.stringify(this.propsBot))
    }
  },
  methods: {
    editBot () {
      if (this.bot.token) {
        this.$router.push('/bot/' + this.bot.id)
      } else {
        alert('Сперва укажите в настройках токен бота.')
      }
    }
  }
}
</script>
