<template>
  <div id="app">
    <div class="nav_bar" v-if="signOutIsVisible">
    <div class="nav_bar__sign_out"
         @click='signOut()'>
      Выйти
    </div>
    <router-link to='/'
                 class='nav_bar__root'>
      Список ботов
    </router-link>
    </div>


    <div class="underconstruction"><p>Сайт в разработке</p></div>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app',
  computed: {
    signOutIsVisible () {
      return !(['SignUp', 'SignIn'].indexOf(this.$route.name) > -1)
    }
  },
  methods: {
    signOut () {
      this.axios.delete('/auth/sign_out').then(() => {
        this.$router.push('/sign_in')
      })
    }
  }
}
</script>

<style lang='sass'>
@import './assets/css/normalize.less'
@import './assets/css/app.less'
@import './assets/css/user.less'
@import './assets/css/bot_view.less'
@import './assets/css/root.less'
@import './assets/css/screens.less'
@import './assets/css/bot_list.less'
@import './assets/css/modal.less'
@import './assets/css/tg_component.less'
@import './assets/css/components/checkbox-toggler.less'
</style>
